{% load static from staticfiles %}
<script type="text/javascript">
    // URL para obtener municipios
    var URL_BUSCAR_MUNICIPIO = "{% url 'buscar_municipio' %}" ;
    
    // URL para obtener parroquias
    var URL_BUSCAR_PARROQUIA = "{% url 'buscar_parroquia' %}" ;

    // URL para participación
    var URL_PARTICIPACION = "{% url 'participacion_index' %}" ;
    
    // URL para validar participación
    var URL_VALIDAR_PARTICIPACION = "{% url 'participacion_validar' %}" ;
    
    // URL para registrar participación
    var URL_REGISTRAR_PARTICIPACION = "{% url 'participacion_create_nid' %}" ;
    
</script>
    