<div class="center">
    <ul class="pagination">
        {% if paginator.has_previous %}
            <li>
                <a href="?page={{ paginator.previous_page_number }}">
                    <i class="material-icons">chevron_left</i> Anterior
                </a>
            </li>
        {% endif %}
            <li>
                <span>Página {{ paginator.number }} de {{ paginator.paginator.num_pages }}.</span>
            </li>
        {% if paginator.has_next %}
            <li>
                <a href="?page={{ paginator.next_page_number }}">
                    Siguiente <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% endif %}
    </ul>
</div>