{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="center">
        <h1>Bienvenido a la consulta</h1><hr>
        <p>Este sistema le permite realizar de manera flexible, sistemática y sencilla para
        todo tipo de consultas.</p>
        <h3>¿Deseas participar en alguna consulta?</h3>
        <a type="button" href="{% url 'participacion_index' %}" class="btn waves-effect blue lighten-1">Participar</a><br><br>
        <p>Éste es el sitio indicado para iniciar.</p><br>
        <a type="button" href="{% url 'register' %}" class="btn waves-effect blue lighten-1">Registrarse</a><br><br>
        <a type="button" href="{% url 'login' %}" class="btn waves-effect blue lighten-1">Iniciar Sesión</a>
        </div>
{% endblock %}