{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Ver Consultas{% endblock %}
{% block superContent %}
    <div class="container">
        {% for item in consultas %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><b>Nombre de la consulta: </b>{{ item.nombre_consulta }}</span>
                </div>
                <ol>
                    {% for preguntas in item.preguntas %}
                        <li>{{preguntas.texto_pregunta}}</li>
                    {% endfor %}
                </ol>
                <div class="card-action">
                    <a type="button" class="btn waves-effect blue lighten-1" href="{% url 'participacion_create' item.id %}">
                        <i class="material-icons left">insert_chart</i> Participar
                    </a>
                </div>
            </div>
        {% endfor %}
        {% if consultas %}
            {% include 'base.paginator.html' with paginator=page_obj %}
        {% endif %}
        
    </div>
{% endblock %}